$background: #f2f2f2;
$primary: #8A6FD6;
$secondary: #E9E3FD;
$confirm: #cbbbff;
$lPurple: #E9E3FD;
$purple: #8A6FD6;
$lOrange: #FEF1E1;
$orange: #FDAB5F;
$lBlue: #E6F4FF;
$blue: #579BE4;

$courseWeb1: #E9E3FD;
$courseweb2: #9E91C2;
$courseDevelop1: #78A5D2;
$courseDevelop2: #E6F4FF;
$courseData1: #F0ADEB;
$courseData2: #FCE6FC;
$courseHtml1: #D1C9EE;
$courseHtml2: #E9E3FF;
$courseJs1: #E5B687;
$courseJs2: #FFF2E2;

