* {
  margin: 0;
  padding: 0;
  font: inherit;
  @include font(1.8rem, 300);
  // Firefox
  scrollbar-width: thin;
  scrollbar-color: #8a6fd6 #f2f2f2;
  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
      width: 16px;
    }
  &::-webkit-scrollbar-track {
    background: #f2f2f2;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #8a6fd6;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: absolute;
  overflow: hidden;
  top: 0px;
  bottom: 0px;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: $background;
}

ol,
ul {
  list-style: none;
}

input,
textarea {
  background-color: transparent;
  border-style: none;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  outline: none;
}

button {
  margin-left: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1.3rem;
  background-color: white;
  transition: color,background-color 250ms ease-in-out;
  font: {
    size: 1.4rem;
    weight: 400;
  }
  &:hover {
    cursor: pointer;
    color: white;
    background-color: $primary;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  align-self: flex-start;
  font-family: 'Roboto', sans-serif;
  color: black;
  margin: 1.3rem 0 1.3rem .3rem;
}

h1 {
  @include font(3.2rem, 500);
}

h2 {
  @include font(2.2rem, 400);
}

h3 {
  @include font(1.8rem, 400);
}

a {
  text-decoration: none;
  color: black;
}

p {
  @include font(1.4rem, 300);
}